<div id="content-wrapper">
  <div class="login-wrapper">
    <div class="container text-center">
      <a class="logo" href="#"><b>Blote</b>.me</a>
      <form class="login-form">
        <div class="form-group button-group-vertical">
          <input type="email" class="form-control input-lg" id="email-input" placeholder="이메일을 입력하세요">
          <input type="password" class="form-control input-lg" id="password-input" placeholder="비밀번호를 입력하세요">
          <button class="btn submit-btn btn-primary btn-lg btn-block">로그인하기</button>
        </div>
      </form>
    </div>
  </div>
</div>